#title{
    text-shadow: 50px;
    text-align: center;
    color: white;
    background-color: rgb(91, 182, 238);
    
}
.component{
    width: 1330px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;

    background-color: aqua;
}
#btn{
    background-color: whitesmoke;
    border-style: solid;
    margin-left: 1260px;
}
